
<div id="message_box">
   <p>broadcasting message</p>
 </div>
 <input type="text" id="message_input">
 <input type="button" id="send_message" value="send"> 


 <script>
 $(document).ready(function(e){
   var dispatcher = new WebSocketRails('localhost:3000/websocket'); // WebSocketRailsオブジェクトを作成すると、websocket-railsのサーバーに接続することができる。URLはデプロイする時はちゃんとローカルホストではなくサイトのURLに変更する。

   $(document).on("click", "#send_message", function(e){      //$(document) = HTML でclickイベントが発生したところが、send_message　IDの要素を持っていたら、処理をする。という指定が.onを使うことによって指定できる。
     message_text = $("#message_input").val();                //上のmessage_input IDのフォームに入力されたメッセージを.val()メソッドで取り出してmessage_textに入れている
     dispatcher.trigger("send_message", message_text);        //send_messageをリクエストして、websocket_message_controller.rbのrecieve_messageメソッドを呼び出している。  .trigger( "イベント名",パラメーター )
   });

   dispatcher.bind("show_message", function(message){         //.bindでwebsocket_message_controllerで定義したmessageを呼び出して、
     $("#message_box").append("<p>" + message + "</p>");      //message_box IDの中に messageをappend(追加)する。
   });
   });
 });
 </script>
