<div class="row">
  <div class="col-sm-9">
    <%=render :template=>"selected_companies/new" %>
    <%= high_chart("sample", @graph) %>
  </div>

  <div class="col-sm-3">
    <h1>スレッド一覧</h1>
    <a href="skyway/index.html">個人チャット</a>
    <%=render 'topics/search' %>
    <% @topics.each do |topic| %>
     <li><%=link_to topic.title,topic %></li>
    <% end %>
  </div>
</div>
