.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.boxA {
    width:420px;
    border-style:solid;
    border-width:1px;
    border-color:hsla(290,100%,50%,.5);
    border-radius:10px;
    margin:0 auto;
    background-color:hsla(280,100%,90%,.1);
}

.title {
    font-size:20px;
    margin:10px;
    display:inline-block;
    padding:10px;
    border-style:solid;
    border-width:1px;
    border-color:hsla(290,100%,50%,.5);
    border-radius:10px;
    background-color:white;
}

.coment {
    padding:10px;
    width:90%;
    border-style:solid;
    border-width:1px;
    border-color:hsla(290,100%,50%,.5);
    border-radius:10px;
    margin:0 auto;
    background-color:white;


}

.coment2 {
    padding-top:10px;
    height:300px;
    width:90%;
    border-style:solid;
    border-width:1px;
    border-color:hsla(290,100%,50%,.5);
    border-radius:10px;
    margin:0 auto;
    margin-top:2px;
    background-color:white;
    overflow-y:scroll;

}

.coment2::-webkit-scrollbar {
    all:unset;
    width:12px;
    box-shadow: inset 0 0 6px hsla(290,100%,60%,.5);
    border-radius: 8px;
    background:transparent;
}
.coment2 ::-webkit-scrollbar-track{
    all:unset;
    box-shadow: inset 0 0 6px hsla(290,100%,50%,.5);
    border-radius: 8px;
    background: transparent;}

.coment2::-webkit-scrollbar-thumb {
    all:unset;
    box-shadow: inset 0 0 6px hsla(290,100%,50%,.5);
    border-radius: 8px;
    background: transparent;
}
.coment2::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px hsla(290,100%,50%,.5);
}

.touko {

    width:90%;
/*     border-style:solid;
border-width:1px;
border-color:hsla(190,100%,50%,.5);
border-radius:10px; */
    margin:0 auto;
    overflow:hidden;
}

.text {
    margin-top:3px;
    float:left;
}
.botan{
    background-color:hsla(290,100%,80%,.5);
    padding:3px;
    text-align:center;
    height:28px;
    width:70px;
    float:left;
    border-style:solid;
    border-width:1px;
    border-color:hsla(290,100%,50%,.5);
    border-radius:10px;
    margin-left:3px;
    margin-top:3px;
    cursor:pointer;
}
.botan:hover {background-color:hsla(290,100%,50%,.5);
            box-shadow:0px 0px 2px 2px hsla(250,100%,50%,.5);
}
.botan:active{background-color:hsla(280,100%,50%,.5);}
input:foucus {
    background-color:hsla(280,100%,50%,.3);
    box-shadow:0px 0px 2px 2px hsla(290,100%,50%,.5);
}

/***à»â∫ç°âÒèëÇ´â¡Ç¶ÇΩÅiïœÇ¶ÇΩÅjÇ∆Ç±ÇÎ**/


/*äOògÇè¡Ç∑ÇΩÇﬂÇ…ÉRÉÅÉìÉgÉAÉEÉgÇµÇƒÇ‹Ç∑*/
.opcome {
    margin:12px;
    display:inline-block;
    padding:10px;
/*     border-style:solid;
border-width:1px;
border-color:hsla(290,100%,50%,.5); */
    border-radius:10px;
    overflow:hidden;
    position:relative;
    background-color:hsla(290,100%,70%,.3);

}

.mycome{
    margin:12px;
    margin-right:px;
    display:inline-block;
    padding:10px;
/*     border-style:solid;
border-width:1px;
border-color:hsla(290,100%,50%,.5); */
    border-radius:10px;
    float:right;
    background-color:hsla(290,100%,70%,.3);
}



/**êÅÇ´èoÇµã@î\**/

.ophukidasi{
    display:inline-block;
    content:"";
    position:relative;
    top:-25px;
    left:16px;
    border-style:solid;
    border-width: 9px 9px 10px 0px;
    border-color:transparent hsla(290,100%,70%,.3) transparent transparent;
    z-index:2;
}

.myhukidasi{
    display:inline-block;
    content:"";
    position:relative;
    top:20px;
    left:351px;
    border-style:solid;;
    border-width: 9px 0px 10px 9px;
    border-color:transparent transparent transparent hsla(290,100%,70%,.3);
}

/*ÉRÉÅÉìÉgÇÃâÒÇËçûÇ›ñhé~*/
.comewaku:after {
    content: "";
    display:block;
    clear:both;
}


/**inputÇÃïîï™ÇÃéËíºÇµ**/
.text {
    border-width: 1px;
    border-radius: 2px;
    border-color:hsla(290,100%,80%,.5);
    box-shadow:inset 0px 4px 8px -4px hsla(290,100%,60%,.4);
    margin-left:3px;
}
.text:focus {
  box-shadow:0px 0px 1px 2px hsla(290,100%,80%,.7);
}


/*
boxAÇÃàÍçsñ⁄
â°ïùÇÇSÇQÇOÇêÇòÇ…å≈íËÇµÇ‹ÇµÇΩ
*/
